doctype html
html(ng-app="SayIt")
    head
        title SayItDoIt - You say it, and we'll do it!
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="styles/main.css")
    body(ng-controller="RootController")
        nav.navbar.navbar-default.navbar-static-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(ng-click="isCollapsed = !isCollapsed")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#/") SIDI
                ul.nav.navbar-nav(ng-hide="commands.length === 0")
                    li
                        a(href="" ng-click="listen()")
                            span.glyphicon.glyphicon-volume-up(ng-class="{ 'pulse' : recognizing }")
                            span.ng-cloak(ng-show="recognizing") &nbsp;Say it and I'll do it
                            span.ng-cloak(ng-show="!recognizing && final_transcript") &nbsp;{{final_transcript}}
                nav.pull-right.ng-cloak.collapse.navbar-collapse(ng-controller="LoginController" collapse="isCollapsed")
                    ul.nav.navbar-nav.navbar-right(ng-show="loggedIn && commands.length > 0")
                        li
                            a(href="" ng-click="recordCommand()")
                                span.glyphicon.glyphicon-plus
                    p.navbar-text.ng-cloak {{name}}
                    ul.nav.navbar-nav.navbar-right
                        li(ng-show="!loggedIn")
                            a.login-icon(href="" ng-click="login('twitter')")
                                img(src="images/twitter-icon-circle.png")
                        li(ng-show="!loggedIn")
                            a.login-icon(href="" ng-click="login('facebook')")
                                img(src="images/facebook-icon-circle.png")
                        li(ng-show="!loggedIn")
                            a.login-icon(href="" ng-click="login('google')")
                                img(src="images/google-icon-circle.png")
                        li(ng-show="loggedIn && recognizing")
                            a
                                span.glyphicon.glyphicon-refresh.spin
                        li(ng-show="loggedIn" dropdown)
                            a(href="" class="dropdown-toggle" dropdown-toggle style="padding:0; margin:10px; border-radius:15px;overflow:hidden;")
                                img(ng-src="{{imageUrl}}" style="height:30px; display:block")
                            ul.dropdown-menu
                                li(role="presentation" class="dropdown-header") {{name}}
                                li
                                    a(ng-href="#/settings") Settings
                                li
                                    a(href="" ng-click="logout()") Log out
        ng-view
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/firebase/firebase.js")
    script(src="bower_components/angularfire/dist/angularfire.min.js")
    script(src="scripts/app.js")
    script.
        angular.module('SayIt').provider('config', function() {
            var config = {
                FIREBASE_URL : '#{constants.FIREBASE_URL}'
            };
            return {
                set: function (settings) {
                    config = settings;
                },
                $get: function () {
                    return config;
                }
            };
        });
    script(src="scripts/factories/commands-factory.js")
    script(src="scripts/factories/settings-factory.js")
    script(src="scripts/factories/auth-factory.js")
    script(src="scripts/controllers/login-controller.js")
    script(src="scripts/controllers/root-controller.js")
    script(src="scripts/controllers/settings-controller.js")
    script(src="scripts/controllers/do-modal-controller.js")
    script(src="scripts/modules/sidi/sidi.js")
    script(src="scripts/modules/hue/hue.js")
    script(src="scripts/modules/spotify/spotify.js")
    script(src="scripts/modules/pandora/pandora.js")